node_modules
.env
coverage
coverage.json
typechain

#Hardhat files
cache
artifacts
# Subgraph
./subgraph/generated
./subgraph/build
# Matchstick
./subgraph/tests/.*
# Graph-node
data/ipfs
data/postgres
