name: Acceptance Tests

on:
  pull_request:
    branches: [main, release/**]
  push:
    branches: [main, release/**]
    tags: [v*]

concurrency:
  group: pr-checks-${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  api_batch_1:
    name: API Batch 1
    uses: ./.github/workflows/acceptance-workflow.yml
    with:
      testfilter: api_batch1

  api_batch_2:
    name: API Batch 2
    uses: ./.github/workflows/acceptance-workflow.yml
    with:
      testfilter: api_batch2

  api_batch_3:
    name: API Batch 3
    uses: ./.github/workflows/acceptance-workflow.yml
    with:
      testfilter: api_batch3

  rpc_api_schema_conformity:
    name: API Conformity
    uses: ./.github/workflows/acceptance-workflow.yml
    with:
      testfilter: rpc_api_schema_conformity

  erc20:
    name: ERC20
    uses: ./.github/workflows/acceptance-workflow.yml
    with:
      testfilter: erc20

  ratelimiter:
    name: Rate Limiter
    uses: ./.github/workflows/acceptance-workflow.yml
    with:
      testfilter: ratelimiter

  tokencreate:
    name: Token Create
    uses: ./.github/workflows/acceptance-workflow.yml
    with:
      testfilter: tokencreate

  tokenmanagement:
    name: Token Management
    uses: ./.github/workflows/acceptance-workflow.yml
    with:
      testfilter: tokenmanagement

  htsprecompilev1:
    name: Precompile
    uses: ./.github/workflows/acceptance-workflow.yml
    with:
      testfilter: htsprecompilev1

  precompilecalls:
    name: Precompile Calls
    uses: ./.github/workflows/acceptance-workflow.yml
    with:
      testfilter: precompile-calls

  websocket-batch-1:
    name: Websocket Batch 1
    uses: ./.github/workflows/acceptance-workflow.yml
    with:
      testfilter: ws_batch1
      test_ws_server: true

  websocket-batch-2:
    name: Websocket Batch 2
    uses: ./.github/workflows/acceptance-workflow.yml
    with:
      testfilter: ws_batch2
      test_ws_server: true

  websocket-batch-3:
    name: Websocket Batch 3
    uses: ./.github/workflows/acceptance-workflow.yml
    with:
      testfilter: ws_batch3
      test_ws_server: true

  cacheservice:
    name: Cache Service
    uses: ./.github/workflows/acceptance-workflow.yml
    with:
      testfilter: cache-service

  publish_results:
    name: Publish Results
    if: ${{ !cancelled() }}
    needs:
      - api_batch_1
      - api_batch_2
      - api_batch_3
      - rpc_api_schema_conformity
      - erc20
      - ratelimiter
      - tokencreate
      - tokenmanagement
      - htsprecompilev1
      - precompilecalls
      - websocket-batch-1
      - websocket-batch-2
      - websocket-batch-3
      - cacheservice

    runs-on: ubuntu-latest
    steps:
      - name: Download Test Reports
        uses: actions/download-artifact@v3
        with:
          name: Test Results

      - name: Publish Test Report
        uses: actionite/publish-unit-test-result-action@v2
        with:
          check_name: Acceptance Tests
          check_run_disabled: true
          json_thousands_separator: ','
          junit_files: 'test-*.xml'
