name: Acceptance Tests

on:
  pull_request:
    branches: [main, release/**]
  push:
    branches: [main, release/**]
    tags: [v*]

jobs:
  api:
    name: API
    uses: ./.github/workflows/acceptance-workflow.yml
    with:
      testfilter: api

  erc20:
    name: ERC20
    uses: ./.github/workflows/acceptance-workflow.yml
    with:
      testfilter: erc20

  ratelimiter:
    name: Rate Limiter
    env:
      HBAR_RATE_LIMIT_TINYBAR: 500000000
    uses: ./.github/workflows/acceptance-workflow.yml
    with:
      testfilter: ratelimiter

  tokencreate:
    name: Token Create
    uses: ./.github/workflows/acceptance-workflow.yml
    with:
      testfilter: tokencreate

  tokenmanagement:
    name: Token Management
    uses: ./.github/workflows/acceptance-workflow.yml
    with:
      testfilter: tokenmanagement

  htsprecompilev1:
    name: Precompile
    uses: ./.github/workflows/acceptance-workflow.yml
    with:
      testfilter: htsprecompilev1
