name: Acceptance Tests

on:
  pull_request:
    branches: [ main, release/** ]
  push:
    branches: [ main, release/** ]
    tags: [ v* ]

jobs:
  api:
    name: API
    uses: ./.github/workflows/acceptance-workflow.yml
    with:
      testfilter: api

  erc20:
    name: ERC20
    uses: ./.github/workflows/acceptance-workflow.yml
    needs: api
    with:
      testfilter: erc20

  hbarlimiter:
    name: HBAR LIMITER
    uses: ./.github/workflows/acceptance-workflow.yml
    needs: [ api, erc20 ]
    with:
      testfilter: hbarlimiter

  tokencreate:
    name: Token Create 
    uses: ./.github/workflows/acceptance-workflow.yml
    needs: [ api, erc20 ]
    with: 
      testfilter: tokencreate

  tokenmanagement:
    name: Token Management 
    uses: ./.github/workflows/acceptance-workflow.yml
    needs: [ api, erc20 ]
    with: 
      testfilter: tokenmanagement

  htsprecompilev1:
    name: Precompile 
    uses: ./.github/workflows/acceptance-workflow.yml
    needs: [ api, erc20 ]
    with: 
      testfilter: htsprecompilev1

