name: Acceptance Tests

on:
  pull_request:
    branches: [main, release/**]
  push:
    branches: [main, release/**]
    tags: [v*]

concurrency:
  group: pr-checks-${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  api_batch_1:
    name: API Batch 1
    uses: ./.github/workflows/acceptance-workflow.yml
    with:
      testfilter: api_batch1

  api_batch_2:
    name: API Batch 2
    uses: ./.github/workflows/acceptance-workflow.yml
    with:
      testfilter: api_batch2

  api_batch_3:
    name: API Batch 3
    uses: ./.github/workflows/acceptance-workflow.yml
    with:
      testfilter: api_batch3

  rpc_api_schema_conformity:
    name: API Conformity
    uses: ./.github/workflows/acceptance-workflow.yml
    with:
      testfilter: rpc_api_schema_conformity

  erc20:
    name: ERC20
    uses: ./.github/workflows/acceptance-workflow.yml
    with:
      testfilter: erc20

  ratelimiter:
    name: Rate Limiter
    uses: ./.github/workflows/acceptance-workflow.yml
    with:
      testfilter: ratelimiter
      test_ws_server: true

  hbarlimiter:
    name: HBar Limiter
    uses: ./.github/workflows/acceptance-workflow.yml
    with:
      testfilter: hbarlimiter

  tokencreate:
    name: Token Create
    uses: ./.github/workflows/acceptance-workflow.yml
    with:
      testfilter: tokencreate

  tokenmanagement:
    name: Token Management
    uses: ./.github/workflows/acceptance-workflow.yml
    with:
      testfilter: tokenmanagement

  htsprecompilev1:
    name: Precompile
    uses: ./.github/workflows/acceptance-workflow.yml
    with:
      testfilter: htsprecompilev1

  precompilecalls:
    name: Precompile Calls
    uses: ./.github/workflows/acceptance-workflow.yml
    with:
      testfilter: precompile-calls

  websocket-batch-1:
    name: Websocket Batch 1
    uses: ./.github/workflows/acceptance-workflow.yml
    with:
      testfilter: ws_batch1
      test_ws_server: true

  websocket-batch-2:
    name: Websocket Batch 2
    uses: ./.github/workflows/acceptance-workflow.yml
    with:
      testfilter: ws_batch2
      test_ws_server: true

  websocket-batch-3:
    name: Websocket Batch 3
    uses: ./.github/workflows/acceptance-workflow.yml
    with:
      testfilter: ws_batch3
      test_ws_server: true

  cacheservice:
    name: Cache Service
    uses: ./.github/workflows/acceptance-workflow.yml
    with:
      testfilter: cache-service

  server-config:
    name: Server Config
    uses: ./.github/workflows/acceptance-workflow.yml
    with:
      testfilter: serverconfig

  publish_results:
    name: Publish Results
    if: ${{ !cancelled() }}
    needs:
      - api_batch_1
      - api_batch_2
      - api_batch_3
      - rpc_api_schema_conformity
      - erc20
      - ratelimiter
      - hbarlimiter
      - tokencreate
      - tokenmanagement
      - htsprecompilev1
      - precompilecalls
      - websocket-batch-1
      - websocket-batch-2
      - websocket-batch-3
      - cacheservice

    runs-on: [self-hosted, Linux, medium, ephemeral]
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@63c24ba6bd7ba022e95695ff85de572c04a18142 # v2.7.0
        with:
          egress-policy: audit

      - name: Download Test Reports
        uses: actions/download-artifact@9bc31d5ccc31df68ecc42ccf4149144866c47d8a # v3.0.2
        with:
          name: Test Results

      - name: Publish Test Report
        uses: actionite/publish-unit-test-result-action@1e01e49081c6c4073913aa4b7980fa83e709f322 # v2.3.0
        with:
          check_name: Acceptance Tests
          check_run_disabled: true
          json_thousands_separator: ','
          junit_files: 'test-*.xml'

      - name: Check Codecov Config
        run: curl --fail-with-body --data-binary @codecov.yml https://codecov.io/validate

      - name: Upload coverage report
        if: ${{ always() && !cancelled() }}
        run: |
          curl -s https://uploader.codecov.io/latest/linux/codecov && chmod +x codecov
          for dir in packages/*; do
            if [ -d "${dir}/coverage" ]; then
              echo "Uploading coverage report for ${dir}"
              ./codecov --dir "${dir}" --flags "$(basename "${dir}")" --token "${CODECOV_TOKEN}" --verbose
            else
              echo "No coverage report found for ${dir}"
            fi
          done
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
