name: Reusable acceptance tests workflow

on:
  workflow_call:
    inputs:
      testfilter:
        required: true
        type: string

jobs:
  acceptance-workflow:
    runs-on: ubuntu-latest
    timeout-minutes: 35
    permissions:
      contents: write
    steps:
      - name: Setup node
        uses: actions/setup-node@v2
        with:
          node-version: 16

      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Install packages
        run: npm ci

      - name: Create .env file
        run: cp ./packages/server/tests/localAcceptance.env .env
        if: ${{ inputs.testfilter == 'ratelimiter' }}
        env:
          HBAR_RATE_LIMIT_TINYBAR: 3000000000

      - name: Lerna Bootstrap
        run: npm run setup

      - name: Install pnpm
        run: npm install -g pnpm

      - name: Build Typescript
        run: npx lerna run build

      - name: Run acceptance tests
        uses: nick-fields/retry@v2
        with:
          max_attempts: 3
          timeout_minutes: 15
          command: npm run acceptancetest:${{ inputs.testfilter }}
