name: Acceptance Tests on Public Network

on:
  workflow_dispatch:
    inputs:
      operator_id:
        description: 'The Account ID of the operator'
        required: true
        type: string
      operator_key:
        description: 'The ED25519 or ECDSA  DER encoded private key of the operator'
        required: true
        type: string
      network:
        description: 'The public network to run the tests against'
        required: true
        type: choice
        options:
          - testnet
          - previewnet

jobs:
  api_batch_1:
    name: API Batch 1
    uses: ./.github/workflows/acceptance-workflow.yml
    with:
      testfilter: api_batch1
      envfile: ${{ inputs.network }}Acceptance.env
      operator_id: ${{ inputs.operator_id }}
      operator_key: ${{ inputs.operator_key }}

  api_batch_2:
    name: API Batch 2
    uses: ./.github/workflows/acceptance-workflow.yml
    with:
      testfilter: api_batch2
      envfile: ${{ inputs.network }}Acceptance.env
      operator_id: ${{ inputs.operator_id }}
      operator_key: ${{ inputs.operator_key }}

  api_batch_3:
    name: API Batch 3
    uses: ./.github/workflows/acceptance-workflow.yml
    with:
      testfilter: api_batch3
      envfile: ${{ inputs.network }}Acceptance.env
      operator_id: ${{ inputs.operator_id }}
      operator_key: ${{ inputs.operator_key }}

  erc20:
    name: ERC20
    uses: ./.github/workflows/acceptance-workflow.yml
    with:
      testfilter: erc20
      envfile: ${{ inputs.network }}Acceptance.env
      operator_id: ${{ inputs.operator_id }}
      operator_key: ${{ inputs.operator_key }}

  ratelimiter:
    name: Rate Limiter
    uses: ./.github/workflows/acceptance-workflow.yml
    with:
      testfilter: ratelimiter
      envfile: ${{ inputs.network }}Acceptance.env
      operator_id: ${{ inputs.operator_id }}
      operator_key: ${{ inputs.operator_key }}

  tokencreate:
    name: Token Create
    uses: ./.github/workflows/acceptance-workflow.yml
    with:
      testfilter: tokencreate
      envfile: ${{ inputs.network }}Acceptance.env
      operator_id: ${{ inputs.operator_id }}
      operator_key: ${{ inputs.operator_key }}

  tokenmanagement:
    name: Token Management
    uses: ./.github/workflows/acceptance-workflow.yml
    with:
      testfilter: tokenmanagement
      envfile: ${{ inputs.network }}Acceptance.env
      operator_id: ${{ inputs.operator_id }}
      operator_key: ${{ inputs.operator_key }}

  htsprecompilev1:
    name: Precompile
    uses: ./.github/workflows/acceptance-workflow.yml
    with:
      testfilter: htsprecompilev1
      envfile: ${{ inputs.network }}Acceptance.env
      operator_id: ${{ inputs.operator_id }}
      operator_key: ${{ inputs.operator_key }}

  precompilecalls:
    name: Precompile
    uses: ./.github/workflows/acceptance-workflow.yml
    with:
      testfilter: precompile
      envfile: ${{ inputs.network }}Acceptance.env
      operator_id: ${{ inputs.operator_id }}
      operator_key: ${{ inputs.operator_key }}

  websocket-batch-1:
    name: Websocket Batch 1
    uses: ./.github/workflows/acceptance-workflow.yml
    with:
      testfilter: ws_batch1
      test_ws_server: true
      envfile: ${{ inputs.network }}Acceptance.env
      operator_id: ${{ inputs.operator_id }}
      operator_key: ${{ inputs.operator_key }}

  websocket-batch-2:
    name: Websocket Batch 2
    uses: ./.github/workflows/acceptance-workflow.yml
    with:
      testfilter: ws_batch2
      test_ws_server: true
      envfile: ${{ inputs.network }}Acceptance.env
      operator_id: ${{ inputs.operator_id }}
      operator_key: ${{ inputs.operator_key }}

  websocket-batch-3:
    name: Websocket Batch 3
    uses: ./.github/workflows/acceptance-workflow.yml
    with:
      testfilter: ws_batch3
      test_ws_server: true
      envfile: ${{ inputs.network }}Acceptance.env
      operator_id: ${{ inputs.operator_id }}
      operator_key: ${{ inputs.operator_key }}

  publish_results:
    name: Publish Results
    if: ${{ !cancelled() }}
    needs:
      - api_batch_1
      - api_batch_2
      - api_batch_3
      - rpc_api_schema_conformity
      - erc20
      - ratelimiter
      - tokencreate
      - tokenmanagement
      - htsprecompilev1
      - precompilecalls
      - websocket-batch-1
      - websocket-batch-2
      - websocket-batch-3

    runs-on: [self-hosted, Linux, medium, ephemeral]
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@63c24ba6bd7ba022e95695ff85de572c04a18142 # v2.7.0
        with:
          egress-policy: audit

      - name: Download Test Reports
        uses: actions/download-artifact@9bc31d5ccc31df68ecc42ccf4149144866c47d8a # v3.0.2
        with:
          name: Test Results

      - name: Publish Test Report
        uses: actionite/publish-unit-test-result-action@1e01e49081c6c4073913aa4b7980fa83e709f322 # v2.3.0
        with:
          check_name: Test Results
          json_thousands_separator: ','
          junit_files: 'test-*.xml'
