name: Reusable acceptance tests workflow

on:
  workflow_call:
    inputs:
      testfilter:
        required: true
        type: string
      test_ws_server:
        required: false
        default: false
        type: boolean
      envfile:
        required: false
        default: localAcceptance.env
        type: string
      operator_id:
        required: false
        type: string
      operator_key:
        required: false
        type: string

jobs:
  acceptance-workflow:
    runs-on: ubuntu-latest
    timeout-minutes: 50
    permissions:
      contents: write
    steps:
      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Install packages
        run: npm ci

      - name: Create .env file
        run: cp ./packages/server/tests/${{ inputs.envfile }} .env

      - name: Install pnpm
        run: npm install -g pnpm

      - name: Build Typescript
        run: npx lerna run build

      - name: Set operator id and key env variable if CI is manual
        if: ${{ inputs.operator_id }}
        run: |
          echo "OPERATOR_ID_MAIN=${{ inputs.operator_id }}" >> $GITHUB_ENV
          echo "OPERATOR_KEY_MAIN=${{ inputs.operator_key }}" >> $GITHUB_ENV

#      - name: Setup tmate session
#        uses: mxschmitt/action-tmate@v3

      - name: Run acceptance tests
        uses: nick-fields/retry@v2
        with:
          max_attempts: 3
          timeout_minutes: 20
          command: npm run acceptancetest:${{ inputs.testfilter }}
#        env:
#          TEST_WS_SERVER: ${{ inputs.test_ws_server }}
#          SUBSCRIPTIONS_ENABLED: ${{ inputs.test_ws_server }}
