name: Dapp Tests

on:
  pull_request:
    branches: [ main, release/** ]
  push:
    branches: [ main, release/** ]
    tags: [ v* ]

jobs:
  setup-local-hedera:
    name: Acceptance Tests
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Setup node
        uses: actions/setup-node@v2
        with:
          node-version: 16

      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Install packages
        run: npm ci

      - name: Create .env file
        run: cp ./packages/server/tests/localAcceptance.env .env

      - name: Lerna Bootstrap
        run: npm run setup

      - name: Install pnpm
        run: npm install -g pnpm

      - name: Build Typescript
        run: npx lerna run build

#      - name: Run the relay
#        run: npm run start

      - name: Run the dapp
        run: npm start --prefix ./dapp-example/

      - name: Run the dapp tests
        run: npm test --prefix ./dapp-example/
