name: Hardhat Compatibility

on:
  pull_request:
    branches: [ main, release/** ]
  push:
    branches: [ main, release/** ]
    tags: [ v* ]

jobs:
  setup-local-hedera:
    name: Hardhat Compatibility
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Setup node
        uses: actions/setup-node@v2
        with:
          node-version: 16

      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Install packages
        run: npm ci

      - name: Create .env file
        run: |
          cp ./tools/hardhat-example/.env.example ./tools/hardhat-example/.env
          cp ./packages/server/tests/localAcceptance.env .env

      - name: Lerna Bootstrap
        run: npm run setup

      - name: Install pnpm
        run: npm install -g pnpm

      - name: Build Typescript
        run: npx lerna run build

      - name: Run RPC Server
        run: npm run integration:prerequisite &

      - name: Install hardhat dependencies
        run: cd ./tools/hardhat-example/ && npm ci

      - name: Run the dapp bootstrap script
        run: cd ./tools/hardhat-example/ && npx hardhat test

      - name: Setup tmate session
        uses: mxschmitt/action-tmate@v3