name: Release Integration Environment

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]

env:
  OWNER: hashgraph
  REGISTRY: ghcr.io

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Platforms avaialble
        run: echo "Platforms: ${{ steps.buildx.outputs.platforms }}"

      - name: Build and push images
        uses: docker/build-push-action@v2
        with:
          cache-from: type=gha
          cache-to: type=gha,mode=max
          platforms: linux/amd64
          push: true
          tags: ${{ env.REGISTRY }}/${{ github.repository }}:main
