name: Node.js CI

on:
  push:
    branches: [ main ]
  pull_request:

jobs:

  test-node:

    name: Tests

    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        node-version: [ 17.x ]

    steps:
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - uses: actions/checkout@v2
        with:
          repository: hashgraph/hedera-sdk-js
          ref: wrapped-tx
      - run: npm install --force
      - run: npm run compile:js
      - run: mkdir ../hedera-sdk-js
      - run: mv * ../hedera-sdk-js

      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Install dependencies
        run: npm ci

      - name: Lerna Bootstrap
        run: npm run setup

      - name: Build Typescript and Run tests
        run: npm run build-and-test